<ul class="songList rankList">
  <% for (i=0; i<data.length; i++) { %>
    <% o = data[i] %>
    <li><div><a href="#play/<%= o.id %>"><h6><%= o.title %></h6><p><%= o.artist %></p></a></div><em><a href="#collect/<%= o.id %>"><!-- 加入 --></a><a href="#login/tariff/<%= o.id %>"><!-- 下载 --></a></em></li>
  <% } %>
</ul>